name: Code Analysis
on: pull_request
jobs:
  detekt:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-java@v5
      with:
        distribution: temurin
        java-version: 17
        
    - name: Setup Gradle
      uses: gradle/gradle-build-action@v3.5.0

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    
    - name: Execute Detekt task
      run: ./gradlew detekt